<div class="modal fade" id="AddToCartNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Added Item to Cart</h4>
      </div>
      <div class="modal-body">
       
        <%=image_tag @product.uploads.first.uploaded_file(:small), :class=>"thumbnail"%>
      
        <%=render "products/show/stub"%>

      </div>
      <div class="modal-footer">
        <%= link_to "View Cart", shopping_cart_path, :class=>'btn btn-default'%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
      </div>
    </div>
  </div>
</div>