<div class="main_img crop">
	    <span class='zoom' id='zoom_main_img'>
	    	<%@image= @product.uploads.first ? @product.uploads.first.uploaded_file(:original) : "placeholder.jpg"%>
	    <%=image_tag(@image, id: "img_to_change")%>

	</span>
	<br />
		</div>
			    <%=link_to "supersize image", image_path(@image), :id=>"link_to_change", :class=>"pull-right", :data=>{:colorbox=>true}%>

		<div class="thumbs">
		    <%@product.uploads.each do |i|%>
			   
			    <%= image_tag(i.uploaded_file(:thumb), :class=>"thumb")%>
			
		    <%end%>

			    </div><!--row thumbs-->
			    
			<script>
			    $(document).ready(function(){
				$('#zoom_main_img').zoom();
				});
			</script>
			<script>
			    $(function() {
				$('.thumb').click(function(e){
				     e.preventDefault();
				     var $new = $( this ).attr("src").replace('thumb','original')
				    $("#img_to_change").attr('src',$new);
				    $("#link_to_change").attr('href',$new);
				    $('#zoom_main_img').zoom();
				 });
			    });
			</script>
