
<tr><td></td><td>Subtotal:</td><td id="subtotal"><%=number_to_currency(@shopping_cart.subtotal)%></td></tr>
<tr><td></td><td>Taxes:</td><td id="taxes"><%=number_to_currency(@shopping_cart.taxes)%></td></tr>
<tr><td></td><td>Shipping:</td><td id="shipping">FREE</td></tr>
<tr><td></td><td>Total:</td><td id="total"><%=number_to_currency(@shopping_cart.total)%></td></tr>
