//$('#AddToCartNotice').modal(
//	keyboard: true
//	);
$('#CartCount').replaceWith('<span id="CartCount"><%= j "(#{count_shopping_cart_items}) "%></span>');
$('#purchasing').replaceWith('<%= j render "products/show/purchasing"%>');
