<h1>Shopping Cart</h1>
<%#- link_to "Empty Cart", shopping_cart_path, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Checkout", new_order_path %>
<%#- link_to "Checkout", orders_path, method: :post %>

<table class="table table-striped">
<tbody>
<%= render :partial => 'shopping_cart_item', :collection => @shopping_cart.shopping_cart_items %>
</tbody>
<tfoot id="cartTotals">
<%= render :partial => 'shopping_carts/shopping_cart_totals' %>
</tfoot>
</table>
