<footer>
	<div class="container footer">
		<div class="row">
			<ul class="list-inline">
					<li><a href="/about">About</a></li>
					<li><a herf="/careers">Careers</a></li>
				
					<li><a href="/contact">Contact Us</a></li>
				
					<li><a href="/help">Help</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="#">My Account</a></li>
					<li><a href="/orders">Orders</a></li>
					<li><a href="#">Returns</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				
				<div class="pull-left">&copy;2014 Supero, LLC. All Rights Reserved</div>
		</div>

	</div>
</footer>
