<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=nav_button%></a>
  <ul class="dropdown-menu">
    <li class="text-left"><a href="#">Example</a></li>
    <li class="text-left"><a href="#">Aligninment options</a></li>
    <li class="text-left"><a href="#">Headers</a></li>
    <li class="text-left"><a href="#">Disabled menu items</a></li>
  </ul>
</li>
