<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides</a>
  <ul class="dropdown-menu">
    <li class="text-left"><a href="/measurement_fit">Measurement &amp; Fit</a></li>
    <li class="text-left"><a href="/quality_garments">Quality Garments</a></li>
    <li class="text-left"><a href="/quality_footwear">Quality Footwear</a></li>
  </ul>
</li>
