<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
  <ul class="dropdown-menu">
    <li class="text-left"><a href="/alterations">Alterations &amp; Tailoring</a></li>
    <li class="text-left"><a href="/garment_repair">Garment Repair</a></li>
    <li class="text-left"><a href="/footwear_repair">Footwear Repair</a></li>
    <li class="text-left"><a href="/leather_repair">Leather Repair</a></li>
   
  </ul>
</li>
