<tr>
    <td class="col-md-9"><em><%="#{ordered_item.product.brand} #{ordered_item.product.description} #{ordered_item.product.size}"%></em></h4></td>
    <td></td>
    <td></td>
    <td class="col-md-1 text-center"><%=number_to_currency(ordered_item.price)%></td>
</tr>