<h1>Contact Us</h1>
<p>Our shop is located in historic Valley Junction, West Des Moines, Iowa at 130 5th Street.<br />
<br />
Shop Hours:<br />
Wednesday: 12-6<br />
Thursday: 12-8<br />
Friday: 12-6<br />
Saturday: 12-3<br />
<br />
Other times are available by appointment.<br />
<br />
You can contact us by phone at 515.619.9037 or e-mail at sales@revive-clothiers.com.
</p>