<!-- Carousel
	================================================== -->
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
		    <div class="item active">
			<%=image_tag("remade.jpg")%>
				<div class="container">
					<div class="carousel-caption" style="max-width:400px;margin-top:100px">
						<h1>Re-made to Measure</h1>
						<p class="lead">Tired of paying a bunch of money for shirts that <i>still</i> don't fit exactly right? One of our most popular options is our <strong>Re-made to Measure</strong> program. You get a high quality re-claimed garment that's been re-cut to fit you perfectly for less than a new shirt that doesn't even fit!
						</p>
						<a class="btn btn-large btn-primary" href="#">Learn More</a>
					</div>
				</div>
			</div>
			<div class="item">
			    <%=image_tag("handmades.jpg")%>
				<div class="container">
					<div class="carousel-caption" style="max-width:500px;">
						<h1>Handmade Neckwear</h1>
						<p class="lead">After re-claiming cloth of the highest quality from destroyed garments, our skilled artisans hand craft new neckwear. Bias cut and finished with a single slip stitch that runs the entire length of the tie, our neckwear is top quality.
						</p>
						<a class="btn btn-large btn-primary" href="#">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="item">
			    <%=image_tag("packages.jpg")%>
				<div class="container">
					<div class="carousel-caption">
						<h1>Complete Outfit Packages</h1>
						<p class="lead">Big interview or promotion? Need it all and don't know where to start? We offer complete outfit packages to get you off to a great start from just $149 (tailored, out the door).
						</p>
						<a class="btn btn-large btn-primary" href="#">Browse Packages</a>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div><!-- /.carousel -->

	<h1>Recent Products</h1>
	<%= render "products/product_list"%>



		
