
	    <%= image_tag upload.uploaded_file(:small), class: "handle" %>
	    <br />
		<a href="/admin/products/<%=upload.product_id%>/uploads/<%=upload.id%>" data-method="delete" rel="nofollow" data-remote="true">delete</a>
		<%= link_to "supersize", (image_path upload.uploaded_file(:large)), :data => { :colorbox => true } %> 
	