.zoom {
	display:inline-block;
	position: relative;
}

/* magnifying glass icon */
.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
}
img.thumb:hover {
	border: solid 1px;
}

.zoom img {
	display: block;	
}

.zoom img::selection { background-color: transparent; }

.crop {
	max-width: 480px;
	max-height: 400px;
	overflow: hidden;
	border: 0px solid;
  	display: table-cell;
    vertical-align: middle;
}

.crop img {
 height: 100%;
 width: 100%;
 margin: auto;
  display: block;
}


