.zoom {
	display:inline-block;
	position: relative;
}

/* magnifying glass icon */
.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
}

.zoom img {
	display: block;	
}

.zoom img::selection { background-color: transparent; }

.crop-vert {
	width: 320px;
	height: 480px;
	overflow: hidden;
	border: 1px solid;
}

.crop-horz {
    width: 480px;
    height: 320px;
    overflow: hidden;
    border: 1px solid;
}
.crop img {
width: 100%;
}

.details  {
	padding-left: 50px;
}
