     <div class="row row-offcanvas row-offcanvas-right">

	      	<div class="col-xs-12 col-sm-9">
	      		<p class="pull-right visible-xs">
	      			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
	      		</p>

<%=render "product_list"%>

	      		</div><!-- /span -->
	      		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
	      			<div class="list-group">
	      			<%Type.all.each do |type|%>
	      			<a href="/<%=type.name.underscore.downcase.pluralize%>" class="list-group-item">
	      				<%=type.name=="Neckwear" ? type.name.try(:titleize) : type.name.pluralize.try(:titleize)%></a>
	      			<%end%>
	      				
	      			</div>
	      		</div><!--/span-->
	      	</div><!--/row-->
	      	<script>
	      	$(document).ready(function () {
  $('[data-toggle=offcanvas]').click(function () {
    $('.row-offcanvas').toggleClass('active')
  });
});
	      	</script>
