<%= render "admin"%>

<div class="row">
	<div class="span5 offset1 product_images" >
	<%= render "products/show/left_pane"%>
	</div><!--span 5-->
	<div class="span5 details" >
    <%= render "products/show/right_pane"%>
	</div><!--span 5-->
</div><!--row-->
