<p id="notice"><%= notice %></p>
	<div class="container product">
		<!-- Three columns of text below the carousel -->
		
		<div class="row">
				<div class="span6">
				<%=image_tag(@product.uploads.first.uploaded_file(:large), id: "main_image")%>
				<div class="row thumbs">
					<%@product.uploads.each do |i|%>
						<div class="span1.5">
							<%=link_to (image_tag(i.uploaded_file(:thumb))), "#", class: "thumbnail"%>
						</div>
					<%end%>
				</div>
			</div>
				<div class="span6">
				</div>
		</div>
	</div>