<div class="row">
    <div class="col-md-6">
        <div id="product-images-container">
            <div id="product-images">
                <div id="large-image">

                    <div id="medium-image-container" style="cursor: crosshair;">
                       <%=image_tag @product.ordered_photos.first.uploaded_file(:large), :id=>"medium-image"%>
                    </div>
                    <%=link_to "Full size Image", image_path(@product.main_photo), :data=>{ :colorbox=>true, :colorbox_max_height=> '90%', :colorbox_max_width=>"90%"}%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div id="product-info">
                <div id="image-zoom-container" style="overflow: hidden; display: none;">
                    <%=image_tag @product.ordered_photos.first.uploaded_file(:original)%>
                </div>

            <%= render "products/show/right_pane" %>
        </div>
    </div>
</div>
